@import '../../../assets/style/setup/vars';

.app-header {
  $header-padding:8px;
  height: $header-height;
  padding: $header-padding;
  // background-color: lightcoral;


  .sub1 {
    padding-inline-end: 30px;
    width:$nav-width - $header-padding;

    .hum-wrapper {
      padding: 12px;
      margin: 0 4px;
      i{
        color:#5f6368
      }
    }

    img {
      width: 109px;
      height: 40px;
    }

  }

  // wrapper of the search input cmp
  //   .sub2{
  //  
  //   }

  .sub3{

    .sub3-wrapper{
      padding:  12px;
      margin: 0 2px;
    }
  }

  .menu-wrapper{
    padding:12px;
    margin-inline: 4px;
  }
}