.app-header {
  height: 64px;
  padding: 8px;
  // background-color: lightcoral;


  .sub1 {
    width: 208px;
    padding-inline-end: 30px;

    .hum-wrapper {
      padding: 12px;
      margin: 0 4px;
      i{
        color:#5f6368
      }
    }

    img {
      width: 109px;
      height: 40px;
    }

  }

  // wrapper of the search input cmp
  //   .sub2{
  //  
  //   }

  .sub3{

    .sub3-wrapper{
      padding:  8px;
      margin: 0 2px;
    }
  }
}