<article routerLink="/email/{{email!._id}}" class="email-preview flex justify-between" [class.unread]="email!.isRead" [class.cheked]="">
    <span class="btn"><input class="checkbox" type="checkbox" title="Select"></span>
    <span class="btn"><input class="star" type="checkbox" ></span>
    <span class="btn"><img class="importance-label" src="assets/img/label-important.svg" /></span>
    <div class="capitalized" >{{email!.from}}</div>
    <div>{{email!.subject}}</div>
    <div>📎</div>
    <div>{{email!.sentAt|date:'MMM dd'}}</div>
</article>
