<article routerLink="/email/{{tab}}/{{email!._id}}" class="email-preview flex justify-between" [class.unread]="email!.isRead"
    [class.cheked]="">

    <span class="btn">
        <input (click)="$event.stopPropagation()" (change)="onToggleCheckbox($event)" class="checkbox" type="checkbox" title="Select">
    </span>
    <span class="btn">S</span>

    <span class="btn">I</span>
    <div class="capitalized">{{email!.from}}</div>
    <div>{{email!.subject}}</div>
    <div>📎</div>
    <div>{{email!.sentAt|date:'MMM dd'}}</div>
</article>