<article [routerLink]="link" [queryParams]="params" class="email-preview" [class.unread]="!email!.isRead"
    [class.checked]="isChecked">

    <span class="btn">
        <input (click)="$event.stopPropagation()" (change)="onToggleCheckbox($event)" class="checkbox" type="checkbox"
            title="Select">
    </span>
    <div class="img-wrapper" (click)="onToggleTab($event,'starred')" [class.active]="email.tabs!.includes('starred')">
        <img *ngIf="!(email.tabs!.includes('starred'))"
            src="http://ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/star_baseline_nv700_20dp.png" alt="">
        <img *ngIf="(email.tabs!.includes('starred'))"
            src="//ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/star_fill_googyellow500_20dp.png" alt="">
    </div>
    <div class="img-wrapper" (click)="onToggleTab($event,'important')"
        [class.active]="email.tabs!.includes('important')">
        <img *ngIf="!(email.tabs!.includes('important'))"
            src="https://www.gstatic.com/images/icons/material/system_gm/1x/label_important_outline_black_20dp.png"
            alt="">
        <img *ngIf="(email.tabs!.includes('important'))"
            src="//ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/label_important_fill_googyellow500_20dp.png" alt="">
    </div>
    <h4 class="capitalized flex align-center" [class.draft]="email.tabs!.includes('drafts')">
        {{email.tabs!.includes('drafts')? 'Draft':email!.name! }}</h4>
    <h4 class="flex align-center">{{email!.subject || '(no subject)'}}
        <span>&nbsp;-&nbsp;{{(email!.body).slice(0,30)}}...</span>
    </h4>
    <h5 class="flex align-center">{{email!.savedAt|date:'MMM dd'}}</h5>
</article>