$clr1-body: #f6f8fc;
$clr1:$clr1-body;
$clr2: #c2c2c2;
$clr3: #dadada;
$clr4: #fff;
$clr5: #eef3fc;

$headerIconsClr:#5f6368;

$composeClr: #c2e7ff;
$LabelColor: #58585c;
$LabelHover: #d3e3fd;
$clr1Hover: #5555;
$shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0,
  0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);

$b-radius: 1em;


$header-height:64px;
