.search-input{
    background-color: #eaf1fb;
    border-radius: 8px;
    margin-inline-end: 10px;

    .search-wrapper{
        padding: 8px 13px;
        margin:3px;
        i{
            color: #5f6368;
        }
    }

    input{
        border: 0;
        background-color: inherit;
        font-size:16px;
        &:focus-visible{
           outline: 0;
           
        }
    }
}