<section class="email-list flex column">

    <header class="list-header flex align-center space-between">
        <div class="sub1 flex align-center">
            <input type="checkbox">
            <div class="icon-wrapper">
                <i class="fa-solid fa-rotate-right fa-sm"></i>
            </div>
        </div>

        <!-- Actions bar -->
        <div class="actions-list flex align-center grow" *ngIf="selectedEmails.length"> 
            <div class="icon-wrapper" (click)="onRemoveEmails()">
                <i class="fa-regular fa-trash-can"></i>
            </div>
            <div class="icon-wrapper">
                <i class="fa-regular fa-envelope"></i>
            </div>
        </div>

        <!-- Paging section -->
        <div class="paging-wrapper flex align-center">
            <span class="paging-counter">1-2 of 2</span>

            <div class="icon-wrapper1">
                <i class="fa-solid fa-chevron-left fa-xs"></i>
            </div>
            <div class="icon-wrapper1">
                <i class="fa-solid fa-chevron-right fa-xs"></i>
            </div>
        </div>

    </header>

    <section class="grow">
        <email-preview (toggleCheckbox)="toggleCheckbox($event)" *ngFor="let email of (emails$|async)"
            [email]="email" [tab]="tab"></email-preview>

    </section>
</section>