.email-list {
    border-radius: 16px;
    padding-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.7);
    height: 100%;

    .list-content{
        overflow-y: scroll;
    }

    .list-header {
        height: 48px;
        padding: 4px 16px;
        padding-inline-end: 2px;

        .sub1 {
            input {
                // margin-inline-end: 10px;
                color: #444;
            }
        }

        .paging-wrapper{
            .paging-counter{
                font-size: 12px;
                margin-inline-end: 12px;
            }

            span{
                padding-top: 1px;
                color: #5e5e5e;
            }
            button{
                background-color: inherit;
                border: 0;
                
            }
        }
    }

    .icon-wrapper,
    .icon-wrapper1,
    .input-wrapper {
        cursor: pointer;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;

        i {
            color: #444;
        }

    }
    .img-wrapper{
        cursor: pointer;
        width: 36px;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 3px;
        img{
            width: 18px;
            height: 18px;
        }
    }

    .input-wrapper{
        width: 25px;
        height: 25px;
        margin-inline-end: 20px;
    }
    .icon-wrapper1 {
        i {
          color: #5e5e5e; 
        }
    }

}