.item-preview {
    text-align: center;
    background-color: rgba(121, 128, 192, 0.788);
    border-radius: 10px;
    min-height: 100px;
    padding: 20px;
    cursor: pointer;
}

hr {
    color: whitesmoke;
    width: 80%;
}

