.home-page {
    height: 100%;
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center; 
    align-items: center; 

    .home-container {
        padding-top: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
     
      img{
        max-height: 60vh;
      }

      button{
        margin-top: 30px;
        padding: 8px 16px;
        box-shadow: 3px 7px 12px 6px rgb(200 121 143 / 12%);
        border-radius: 6px;
        
        border: 1px solid #dad9d9;
        background-color: inherit;
        font-size: 26px;
        color: rgb(96, 96, 96);

        &:hover{
            background-color: darken(#f6f8fc, 2%);
        }
      }
    }
  }
 