.email-details {
    background-color: white;
    padding: 14px 16px;
    border-radius: 16px;
    color: #222;
}



.action-bar {
    position: relative;
    gap: 5px;
    padding-bottom: 15px;

    * {
        margin-inline: 10px;
        cursor: pointer;
    }

    *:first-child {
        margin: 0 24px 0 0;
    }
}


.details-content {
    flex: 1;
    max-height: 450px;


    .labels-bar {
        padding: 20px 0 8px 56px;

        @media (max-width: 500px) {
            padding: 20px 0 8px;
        }

        h2 {
            font-weight: 500;
            font-size: 22px;
        }

        img {
            margin-inline: 10px;
        }
    }

    header {
        justify-content: space-between;
        margin-bottom: 30px;

        @media (max-width: 500px) {
            flex-direction: column-reverse;
            gap: 10px;
        }

        * {
            line-height: 20px;
        }

        h4:not(:last-child) {
            font-weight: 600;
        }
    }

    p {
        width: 95%;
        line-height: 1.25;
    }
}


.labels-det>* {
    margin-inline-start: 10px;
    background-color: #d5d5d5;
    font-size: .7em;
    border-radius: 3px;
    padding: 1.5px 2.5px;
    font-weight: 300;
    color: #737373;
}

main {
    padding-top: 20px;
    font-size: 14px;

    @media (max-width: 500px) {
        flex-direction: column;
    }

    .user-img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        position: relative;
        top: -5px;

    }

    .small {
        font-size: 12px;
        font-weight: 400;
        color: #5e5e5e;
        gap: 10px;

        img {
            height: 20px;
            width: 20px;
        }
    }

    .email-body {
        flex-grow: 1;
        padding-inline: 16px;

        @media (max-width: 500px) {
            padding: 0;
        }
    }
}

.email-details footer {
    display:flex;
    gap: 8px;
    @media (min-width: 500px) {
        padding-inline-start: 56px;
    }

    button {
        display: inline-flex;
        align-items: center;
        gap: 8px;
        height: 36px;
        border-radius: 25px;
        border: 1px solid #7f7f7f;
        margin-top: 8px;
        padding: 0 16px;
        background-color: white;

        &:hover {
            background-color: #f0f0f0;
        }

        img {
            height: 20px;
            width: 20px;
        }
    }
}