<section class="email-details full-height flex column">

    <section class="action-bar flex align-center">
        <img class="grey-hover" (click)="goBack()" style="width:20px; height:20px" src="assets/icons/back.png" alt="" />
        <img class="grey-hover" (click)="onSpam()" style="width:20px; height:20px" src="assets/icons/spam.png" alt="" />
        <img class="grey-hover" (click)="onTrash()" style="width:20px; height:20px" src="assets/icons/trash.png"
            alt="" />
        <img class="grey-hover" (click)="onUnread()" style="width:20px; height:20px" src="assets/icons/unread.png"
            alt="" />
        <img class="grey-hover" name="label-trigger" (click)="isLabelMenu=!isLabelMenu" style="width:20px; height:20px"
            src="assets/icons/categories.png" />
        <label-selector *ngIf="isLabelMenu" [labels]="(labels$|async)||[]" [emailLabels]="email.labels||[]"
            (update)="updateLabels($event)"></label-selector>
    </section>


    <section class="details-content">

        <section class="labels-bar flex align-center">
            <h2>{{email.subject}}</h2>
            <div class="img-wrapper flex align-center" (click)="onToggleTab('important')"
                [class.active]="email.tabs!.includes('important')">
                <img class="grey-hover pointer" *ngIf="!(email.tabs!.includes('important'))"
                    src="https://www.gstatic.com/images/icons/material/system_gm/1x/label_important_outline_black_20dp.png"
                    alt="">
                <img class="grey-hover pointer" *ngIf="(email.tabs!.includes('important'))"
                    src="//ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/label_important_fill_googyellow500_20dp.png" alt="">
            </div>
            <div class="flex align-center">
                <label-tag *ngFor="let label of emailLabels" [label]="label" (remove)="removeLabel($event)"></label-tag>
            </div>
        </section>

        <main class="flex">
            <img class="user-img" src="assets/img/user.png">
            <div class="email-body">

                <header class="flex">
                    <div class="from-to flex column">
                    <h4>
                        <span>{{email.name}}</span>
                        <span class="small"> &lt;{{email.from}}&gt;</span>
                    </h4>
                    <p class="small">to {{email.to}}</p>

                </div>
                    <span class="small flex ">{{email.savedAt | date: 'MMM dd, yyyy, hh:mm a' }}
                        <div class="img-wrapper flex" (click)="onToggleTab('starred')"
                            [class.active]="email.tabs!.includes('starred')">
                            <img class="grey-hover pointer" *ngIf="!(email.tabs!.includes('starred'))"
                                src="http://ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/star_baseline_nv700_20dp.png"
                                alt="">
                            <img class="grey-hover pointer" *ngIf="(email.tabs!.includes('starred'))"
                                src="//ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/star_fill_googyellow500_20dp.png" alt="">
                        </div>
                    </span>

                </header>
                <p>{{email.body}}</p>
            </div>
        </main>
    </section>

    <footer>
        <button>Reply</button>
        <button>Forward</button>
    </footer>




</section>