.email-details {
    background-color: white;
    padding: 14px 16px;
    border-radius: 16px;
    color: #222;
}

.email-details>* {
    margin-bottom: 15px;
}

.action-bar {
    position: relative;
    gap: 5px;

    * {
        margin-inline: 10px;
        cursor: pointer;
    }

    *:first-child {
        margin: 0 24px 0 0;
    }
}


.details-content {
    flex: 1;
    max-height: 450px;
}

.details-content .labels-bar {
    padding: 20px 0 8px 56px;

    h2 {
        font-weight: 500;
        font-size: 22px;
    }

    img {
        margin-inline: 10px;
    }
}


.labels-det>* {
    margin-inline-start: 10px;
    background-color: #d5d5d5;
    font-size: .7em;
    border-radius: 3px;
    padding: 1.5px 2.5px;
    font-weight: 300;
    color: #737373;
}

main {
    padding-top: 20px;
    font-size: 14px;

    .user-img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        position: relative;
        top: -5px;
    }

    .small {
        font-size: 12px;
        font-weight: 400;
        color: #5e5e5e;
        gap: 10px;

        img {
            height: 20px;
            width: 20px;
        }
    }

    .email-body {
        flex-grow: 1;
        padding-inline: 16px;
    }
}

.details-content header {
    justify-content: space-between;
    margin-bottom: 30px;

    * {
        line-height: 20px;
    }
}

.details-content header h4:not(:last-child) {
    font-weight: 600;
}

.details-content p {
    width: 95%;
    line-height: 1.25;
}

.email-details footer {
    padding-inline-start: 56px;
    * {
        height: 36px;
        margin-inline-end: 8px;
        border-radius: 25px;
        border: 1px solid #7f7f7f;
        margin-top: 8px;
        padding: 0 16px;
        background-color: white;
        &:hover{
            background-color: #f0f0f0;
        }
    } 
}


/* Media Query */


/* Mobile */

@media (max-width:340px) {
    .details-content {
        font-size: .9em;
    }

    .email-details footer>* {
        width: 80px;
    }

    .details-content .labels-bar {
        margin-bottom: 20px;
        padding-inline-start: 0;
    }

    .details-content header {
        justify-content: flex-start;
    }

    .details-content header .small {
        margin-inline-start: 10px;
    }
}

@media (min-width:450px) {
    .details-content p {
        width: 73%;
    }
}