<section class="email-folder-list flex column">
    <div class="compose-wrapper flex ">
        <div class="compose flex align-center center" (click)="compose.emit()">
            <!-- @click="composeEmail()"> -->
            <div class="compose-icon">
                <img src="../../../assets/icon-img/compose.png">
            </div>
            <span class="com-text">Compose</span>
        </div>
    </div>

    <section class="folders-nav">

        <div *ngFor="let folder of folders" routerLink="/email/{{folder.name}}" routerLinkActive="active"
            [title]="folder.name | capitalize">
            <img style="width:20px; height:20px" src="../../../assets/icon-img/{{folder.name}}.png">
            <span class="f-text">{{folder.name|capitalize}}</span>
        </div>
        <!-- @click="setTab('inbox')" -->

        <div>
            <!-- @click="isAddLabel=true" class="labels"> -->
            <header class="label-header flex space-between align-center">
                <h4>Labels</h4>
                <!-- <img  style="width:20px; height:20px" :src="getMailSvg('addLabel')" alt="" /> -->
            </header>
        </div>

        <!-- <div @click="navToLabel(label)" v-if="labels" v-for="label in labels" :key="label">
        <img style="width:20px; height:20px" :src="getMailSvg('folderLabel')" />
        <span class="f-text">{{label}}</span>
        </div> -->

        <!-- <add-label v-if="isAddLabel"></add-label> -->
    </section>
</section>