<section class="email-folder-list flex column">
    <div class="compose-wrapper flex ">
        <div class="compose flex align-center center" (click)="compose.emit()">
            <!-- @click="composeEmail()"> -->
            <div class="compose-icon">
                <img src="../../../assets/icons/compose.png">
            </div>
            <span class="com-text">Compose</span>
        </div>
    </div>

    <section class="folders-nav">

        <div *ngFor="let folder of folders" routerLink="/email/{{folder.name}}" routerLinkActive="active"
            [title]="folder.name | capitalize">
            <img style="width:20px; height:20px" src="../../../assets/icons/{{folder.name}}.png">
            <span class="f-text">{{folder.name|capitalize}}</span>
        </div>

        <div>
            <header class="label-header flex space-between align-center">
                <h4>Labels </h4>
                <button (click)="isLabelEdit=true">+</button>
            </header>
        </div>

        <div *ngFor="let label of labels" routerLink="/email/label/{{label.name}}" class="flex space-between">
            <span class="flex align-center">
                <img style="width:20px; height:20px" src="../../../assets/icons/label.png">
                <span class="f-text">{{label.name}}</span>
            </span>
            <span>
                <img style="width:20px; height:20px" src="../../../assets/icons/compose.png"
                    (click)="$event.stopPropagation(); isLabelEdit = true; labelToEdit = label">
                <img style="width:20px; height:20px" src="../../../assets/icons/trash.png"
                    (click)="$event.stopPropagation(); removeLabel.emit(label._id)">
            </span>

        </div>
    </section>
    <label-edit *ngIf="isLabelEdit" [label]="labelToEdit" (close)="closeLabelEdit()"
        (save)="saveLabel.emit($event);closeLabelEdit()"></label-edit>
</section>