<section class="email-compose fixed" [class.mini]="isMini" [class.full]="isFull">
    <header class="flex space-between">
        <div>{{title}}</div>

        <div>
            <span class="btn blocked" title="Minimize" (click)="isMini=!isMini">-</span>
            <span class="btn blocked" title="Full screen" (click)="isFull=!isFull;isMini=false">↕</span>
            <span class="btn" title="Save & close" (click)="save(false)">x</span>
        </div>
    </header>
    <main *ngIf="!isMini">
        <form class="flex column" #form [formGroup]="composeForm" (ngSubmit)="save()" (input)="autoDrafts()">
            <input type="email" formControlName="to" placeholder="Recipients" />
            <input type="text" formControlName="subject" placeholder="Subject" />
            <textarea type="text" formControlName="body"></textarea>
            <button [disabled]="composeForm.invalid">Save</button>
        </form>

        <footer class="flex space-between">
            <div>
                <button [disabled]="composeForm.invalid" class="btn pill send-btn"  (click)="save()">Send</button>
                <span class="btn pill send-btn" title="Send" (click)="save()">Send</span> <span class="btn blocked"
                    title="More send options">🔽</span>
                <span class="btn blocked" title="Attach files">📎</span>
                <span class="btn blocked" title="Insert emoji">🙂</span>
                <!-- <span class="btn blocked" title="Insert files using Drive">DRIVE</span> -->
            </div>
            <span class="btn" (click)="close()" title="Discard draft">🗑</span>
        </footer>
    </main>
</section>